/* Important styles for demo */
:root {
  --us-primary: #3A539B;
  --us-secondary: #B50000;

  --mx-primary: #8B0000;
  --mx-secondary: #00552a;

  --ca-primary: #A00;
  --ca-secondary: #555;

  --primary: var(--us-primary);
  --secondary: var(--us-secondary);
  --muted: #0008;
  --transition: .1s transform ease-in-out;
  --borderRadius: 3px;
  font-size: 18px;
}

body {
  font-family: system-ui;
}

h1, h2, h3, h4, h5, h6 { margin: .5rem 0; }
h1 { font-size: 2.5rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }
p { margin: .5rem 0; }
.light { font-weight: 300; }
button {
  font-size: 1rem;
  &.primary {
      background: var(--primary);
      transition: var(--transition);
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: translateY(5%);
      }
  }
  &.secondary {
      background: var(--secondary);
      transition: var(--transition);
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: translateY(5%);
      }
  }
}

a, .link {
  color: var(--secondary);
}

/* Other styles */
:root {
  line-height: 1.4;
}
body {
  background: #fff;
  color: #333;
}
button {
  border: none;
  border-radius: var(--borderRadius);
  background: transparent;
  color: #fff;
  padding: .5em .75em;
}
.brand {
  text-shadow: 2px 2px 0 #fff, 4px 4px 0 var(--primary);
}
.page {
  margin: 0 auto;
  max-width: 700px;
}
.card {
  border: var(--borderRadius) solid var(--primary);
  border-radius: var(--borderRadius);
  padding: 0 1em;
}
.row {
  display: flex;
}
.row > * {
  flex: 1;
}
.row > *:not(:first-child) {
  margin-left: .25em;
}
.row > *:not(:last-child) {
  margin-right: .25em;
}
.progress {
  background-color: rgba(0,0,0,.25);
  border-radius: var(--borderRadius);
  overflow: hidden;
  width: 100%;
}
.progress .bar {
  background-color: var(--secondary);
  padding-bottom: 1rem;
}
.animateProgress {
  animation: animateProgress 5s infinite alternate;
}
@keyframes animateProgress {
  0% {
    width: 10%;
  }
  100% {
    width: 90%;
  }
}
